@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;500;600;700&display=swap');


html,body {
    height: 100%; /* Ensure full-height layout */
    width:100%;
    margin: 0;
    overflow-x: hidden;
    
}

body{
    background-color:white;
    font-family:   "Jost", sans-serif;;
}

h1 {
    font-family: 'Jost', sans-serif;
    text-align: center;
    margin-top: 20px;
    font-size: 50px;;
    color: rgb(0, 0, 0);
}




.topContent {
    margin-top:40px;
    display: flex;
    gap: 20px; /* Space between gallery and product details */
    align-items: flex-start; /* Align items at the top */

}

.galleryContainer {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    width: 60%; /* Adjust as needed */
    object-fit: cover;
}

.gallery-image {
    width: 100%;
    height: 100%;
}

.productDetailsContainer {
    display:flex;
    flex-direction: column;
    gap:20px;
    width: 40%; /* Adjust as needed to fit next to the gallery */
    margin-left:50px;
    padding:10px;

}

#prodTitle {
    text-align: left;
}
#prodReviewRating {
    margin-top:-50px;
}
#prodType {
    margin-top: -30px;
}



.volumeOptions{
    margin-top:90px;
    display:flex;
    justify-content: center;
  
    
}
.sizeButton {
    padding:10px;
    height:48px;
    width:200px;
    font-size:16px;
    background-color: white;
    border: 0.5px solid black;
    border-radius: 3px;;
}
.sizeButton:hover{
    background-color: rgb(230, 230, 230);
}

.buttonContainer {
    display:flex;
    justify-content: center;
}

.addQuantity {
    text-align: center;
 
}

.addToCartBtn {
    width:80%;
    padding:15px;
    color:white;
    font-weight:bold;
    background-color: black;
    border:none;
    cursor:pointer;

}

.wrapper {
    display:flex;
    align-items: center;    
    border-top: 1px solid black;
    padding:10px;
    margin-top:20px;
    transition: opacity 0.3s ease-in-out;
    cursor:pointer;
    transition: border-color 0.3s ease;
}

.wrapper:hover {
    border-top: 2px solid black;
}

.wrapper-content.visible {
    margin-top:10px;
    display:block;
    opacity:1;
}


.wrapper-content {
    display:none;
}

.wrapper-heading{
    display:flex;
    justify-content: flex-end;
    align-items: center;
    width:100%;
}

.infoHeading {
    font-weight: bold;
    flex-grow: 1;
}

.expandButton {
    font-size: 30px;
    background-color: white;
    border:none;
    cursor:pointer;
}






.middleContent {
    height:100%;
    width:100%;
    flex-grow: 1;
    display: flex;
    gap: 20px; /* Space between gallery and product details */
    align-items: flex-start; /* Align items at the top */
    background-color: rgb(243, 243, 243);
    color:rgb(0, 0, 0);
}

.fragranceNotesContainer {
    width:100%;
    display:flex;
    gap:5px;
    border-bottom: 1px solid rgb(151, 150, 150);
}

.fragranceNotesHeading, .reviewHeading{
    font-weight: normal;
    font-size: 35px;
}

.item-one-quarter {
    flex:1;
    max-width: 25%;

}

.item-three-quarter {
    flex:3;
    max-width: 75%;
}




.accordion {
    background-color: rgb(243,243,243);
    color: black;
    cursor:pointer;
    padding:30px;
    width: 100%;
    text-align: left;
    border:none;
    outline:none;
    transition: 0.5s;
    border-bottom: 1px solid black;
}
.accordion-heading {
    font-family: "Jost", sans-serif;
    font-size: 25px;
}

.active, .accordion:hover {
    background-color: rgb(192, 196, 196);
}


.accordion:after {
    content: '\02795';
    font-size: 20px;
    color: black;
    float:right;
    margin-left:5px;
}
.active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
}

.panel {
    padding: 0px 18px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.8s ease-out, 0.2s ease-in;

}













.fragranceNotesContainer{
    min-height: 30vh;
    padding-top: 120px;
    padding-right: 25px;
    padding-bottom: 120px;
    padding-left: 25px
}

.noteLevelHeader {
    text-align: center;
    font-size: large;
}

.image-text-container {
    text-align: center;
}

.pyramid-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    max-width: 1400px;
    margin: 0 auto;
    padding: 2px 10px;

   
    
    
}

.accord-image {
    width: 100%;
    max-width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 50%;
    cursor:pointer;
    border: 2px solid black;
}



.character-accordion {
    display:flex;
    gap:30px;
}
.perfume-pyramid {
    flex:1;
}
.accordChart {
    flex:1;
    flex-direction: column;
}

.accordChartContainer {
    
    display:block;
    height:100%;
    
}

.accordBar {
    text-align: center;
    padding:6px;
}

.descContainer {
    padding:50px;
}





.product-review {
    height:100%;
    width:100%;
    flex-grow: 1;
    display: flex;
    gap: 20px; /* Space between gallery and product details */
    align-items: flex-start; /* Align items at the top */
    background-color: rgb(243, 243, 243);
    color:rgb(0, 0, 0);
    

}

.review-container {
    display:block;
    width:100%;
    height:100%;
    gap:10px;
    min-height: 30vh;
    padding-top: 120px;
    padding-right: 25px;
    padding-bottom: 120px;
    padding-left: 25px;
}

.review-top{
    display:flex;
    width:100%;
    height:100%;
    
}

.review-bottom{
    width:100%;
    height:100px;
    background-color: red;
    margin-top: 100px;
}

.yotpo {
    display:flex;
    height: 100%;
    width:100%;
}
.yotpo-summary-section{
    flex:1
}
.yotpo-vertical-border {
    
    height:100%;
    border: 1px solid black;
    margin:10px;
}

.review-button-container {
    display:flex;
    gap:4.5px;
}
.review-button {
    font-size: 50px;
    border-radius: 10px;
    
    padding:10px;
}

.write-review {
    display: block;

}



.yotpo-star-distribution{
    display:flex;
    flex:1;
    flex-direction: column;
    justify-content: center;

}



.yotpo-star-distribution .rating-container {
    background-color: rgb(243, 243, 243);
    display: flex;
    justify-content: space-evenly; /* Space out items evenly */
    padding: 10px; /* Optional: Add padding for better spacing */
}

.yotpo-star-distribution .rating-container:hover {
    cursor: pointer;

}
.yotpo-star-distribution .rating-container:hover .rating-value {
    text-decoration: underline;
}
.yotpo-star-distribution .rating-container:hover .rating-bar-container {
    opacity: 0.5;
}
.yotpo-star-distribution .rating-bar-container {
    background-color: rgb(185, 185, 185);
    border-radius: 17px;
    margin-top: 10px; /* Optional: Adjust to your design needs */
    height: 6px;
    width:50%;
    position: relative;
    overflow: hidden;
    

}

.yotpo-star-distribution .rating-bar {
    background-color: rgb(0, 0, 0);
    border-radius: 17px;
    height: 6px;
    width: 0%; /* Adjust as needed */
    position: absolute;
    top:0;
    left:0;

    
}







.similar-products {
    display:flex;
    flex-direction: column;
    min-height: 30vh;
    
}

.similar-products-scroll-container {
    background-color: rgb(243,243,243);
    min-height:30vh;
    width:100%;
    margin:auto;
}
.similar-products-header-container {
    text-align: center;
    padding:30px;
}
.similar-products-header {
    font-weight:normal;
}


.similar-products-scroll {
    display:flex;
    flex-wrap: nowrap;
    overflow-x:auto;
    gap:15px;
    margin:auto;
    justify-content: start;
}

.scroll-item-container {
    height:350px;
    width:260px;
    overflow-y: hidden;
    flex-shrink: 0;

}
.scroll-item-container img {
    width:100%;
    height:100%;
    object-fit: cover;
    
}



@media (max-width: 768px) {
    .topContent {
        flex-direction: column; /* Stack the gallery and details vertically */
    }

    .galleryContainer {
        order: 1; /* Ensure the gallery appears first */
        display: flex;
        flex-wrap: nowrap; /* Horizontal scroller */
        overflow-x: auto; /* Enable horizontal scrolling */
        gap: 10px;
        margin:auto;
        width:100%;
        height:500px;;
    }

    .productDetailsContainer {
        order: 2; /* Ensure the details appear after the gallery */
        width: 100%; /* Full width */
        margin-top: 20px; /* Add spacing between sections */
    }

    .gallery-image {
        flex: 0 0 auto; /* Prevent images from stretching */
        width: 150px; /* Adjust as needed */
        height: auto;
        object-fit: cover;
    }
    
}



