body {
    font-family: 'Nunito', sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
}

h1 {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin-top: 20px;
    font-size: 50px;;
    color: rgb(0, 0, 0);
}

.fragrances {
    margin-top:200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.card {
    background-color: #fff;
    width: 550px; /* Set a fixed width for each card */
    height: 700px; /* Set a fixed height for each card */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.5s ease-in-out 0.5s ease;
    opacity: 0;
   
    cursor: pointer;
    overflow: hidden; /* Ensure no overflow */
    margin: 10px; /* Space between cards */
}


/* Define the animation */
@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(25px);  /* Starts below */
    }
    100% {
        opacity: 1;
        transform: translateY(0);  /* Ends at original position */
    }
}

/* Add this class when you want the element to appear */
.card.loaded {
    opacity: 1;
    transform: translateY(0);  /* Make the item move to its original position */
    animation: fadeInUp 0.5s ease forwards;
}






.image-container {
    width: 100%; /* Full width of the card */
    height: 70%; /* Set the height proportion of the card for the image */
    position: relative;
    overflow: hidden; /* Hide overflow */
}

.card-image, .hover-image {
    width: 100%; /* Make the images fill the container */
    height: 100%; /* Make the images fill the height of the container */
    object-fit: cover; /* Ensure the image covers the entire area */
}

.hover-image {
    position: absolute; /* Position the second image over the first */
    top: 0;
    left: 0;
    opacity: 0; /* Initially hide the second image */
    transition: opacity 0.3s ease; /* Smooth transition for fading */
}

.image-container:hover .card-image {
    transform: scale(1.1); 
}

.card:hover .hover-image {
    opacity: 1; /* Show the second image on hover */
}
/* Position and style for the Add to Cart button */


/*
In this case, the
.second element will be stacked above the .first element because it has an explicit z-index of 1,
while .first has z-index: auto (which is treated like 0).
*/

.hover-add-to-cart-button {
    font-weight: bold;
    position: absolute; /* Position the button absolutely within the image container */
    bottom: 10px; /* 10px from the bottom */
    right: 20px; /* 10px from the right */
    opacity: 0; /* Initially hide the button */
    transition: opacity 0.3s ease; /* Smooth transition for fading */
    padding: 10px 40px;
    font-size: 16px;
    font-weight: bold;
    background-color: #000;
    color: white;
    cursor: pointer;
    z-index: 1; /* Make sure the button is above the images */
}

.card:hover .hover-add-to-cart-button {
    opacity: 1; /* Show the button when the image container is hovered */
    transform: translateY(0);  /* Make the item move to its original position */
    animation: fadeInUp 0.5s ease forwards;
}




.fragrance-info {
    padding: 20px; /* Add some padding for the text area */
}

.card-title {
    font-size: 1.2em;
    color: #333;
    margin: 5px 0;
}

.card-manufacturer {
    font-size: 0.9em;
    color: #777;
    margin: 5px 0;
}

.card-price {
    font-size: 1.5em;
    color: #000000;
    font-weight: normal;
}

.star-rating {
    margin: 5px 0; /* Add some margin for spacing */
}

.star {
    font-size: 2.0em;
}

.star-rating .star.filled {
    color: rgba(228, 224, 9, 0.856);
}



#filterSortButton {
    padding: 5px;
    height: 50px;
    width: 200px;
    font-size: 20px;
    text-align: center;
    font-family: 'Nunito', sans-serif;
    border: 2px solid black;
    float: right;
    margin-right: 140px;
    cursor:pointer;
    
}
