#reviewProductSideBar {
    position:fixed;
    background-color: rgb(251, 253, 251);
    width: 150vh;   /* Full screen width */
    height: 100vh;  /* Full screen height */
    right:-150vh;
    top:0;
    z-index:2;
    transition: right 0.3s ease;
    overflow-y: auto;
}

#reviewProductSideBar.activeReview {
    right:0;
}

#overlay-addProductReview {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Dark semi-transparent background */
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease;
    z-index: 1; 
}

#overlay-addProductReview.activeReview {
    opacity:1;
    visibility: visible;
}

.close-review-product-container{
    text-align: left;
    margin-left:20px;
    cursor:pointer;
}
.close-review-product {
    font-size:20px;
    font-weight:bold;
    transition: color 0.5s ease;
}
.close-review-product:hover {
    color:red;
}


fieldset{
    border: none;
}

label {
    display: block;
    margin: 0.5rem 0;
}
input[name="review-title"] {
    padding:10px;
    width:50%;
    height:3vh;
}

input[name="review-description"]{
    padding:10px;
    width:70%;
    height:20vh;
}